/* css for header */

header {
    display: flex;
    background-color: rgba(148, 148, 212, 0.952);
    flex-wrap: wrap;
    justify-content: center;
    
}
.header {
    /* width: 20%; */
   /* margin: 15px 0px 0px 10%; */
   margin-top: 15px;
   margin-right: 5%;
 
    
    }
.headimg {
  width: 20px;
  margin-left: 3px;

}
.hpara {
text-align: center;
}
.button {
    /* margin: 15px 0px 0px 10%; */
    margin-top: 15px;
    margin-left: 10%;
}
.buttonchild {
    /* width: 85px;
    height: 20px; */
    padding: 3px 8px;
    font-size: 60%;

    /* css for navigation */

}
#navbar {
    display: flex;
    flex-wrap: wrap;
 
}
#navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    

}
#navbar ul li {
    margin: 5px 5px 5px 5px;
    
}
#navbar ul li a {
    text-decoration: none;
margin: auto 0px auto 15px ;
color: black;

   
    
}

.navlogo {
    width: 250px;
    margin: 10px 0px 0px 60px;
}
.navimg {
    width: 200px;
}
#navbar ul li select {
    border: 6px solid rgba(167, 167, 221, 0.219);
 
 /* height: 20px; */
 background-color: rgba(142, 195, 197, 0.459);
  
}
#navbar ul li select option {
    margin: auto 0px auto 15px ;
    
}


.items {
    border: 5px solid rgba(167, 167, 221, 0.219);
    background-color: rgba(142, 195, 197, 0.459);
    width: 80px;
    height: 20px;
    
}




/* saylani background picture */
#background {

}
.background {
  width: 100%;
    
}





/* css contant */

/* 1 contant line */
.body {
    background-color: wheat;
} .bodyline {

}
.bodylinetext { 
    /* width: 100%; */
    padding: 5px 5%;
    background-color: white;
}


.bodylinetextp {
    background-color: blue;
    /* width: 70%; */
    margin: 5px auto 5px auto;
    /* height: 25px; */
    color:white;
    padding:9px 0px 0px 15px;
    text-align: center;
   
}

/* 2 contant body */

#bodytext {
    background-color: rgba(229, 240, 238, 0.438);
    text-align: center;


}
.bodytexthead {
    display: flex;
    
    justify-content: center;
}

.bodytexthead1 {
     color: blueviolet;  
     }
.bodytexthead2 {
        color: red;
        }

.bodytextimg {
width: 60px;


}
.bodytextpara {
width: 70%;
margin: auto;
text-align: justify;
font-size: 20px;
line-height: 30px;
color: darkcyan;


}


/* css survise */
.service {
    background-color: rgba(21, 21, 223, 0.815);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.service1, .service2 , .service3, .service4 {
    width: 200px; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    
    
    

}
.service1 img, .service2 img, .service3 img , .service4 img {
    width: 40px;

    padding-top: 20px;
    
}
.service1 h1,.service2 h1,.service3 h1,.service4 h1 {
    font-size: 50px;
    color: white;
    margin: 0px;
    
}
.service1 p ,.service2 p,.service3 p,.service4 p{
    font-weight: 900;
    font-size: 20px;
    color: white;
    margin: 0px;
}


/* css activity */
.activity {
    text-align: center;
    background-color: rgba(229, 240, 238, 0.438)

}



.activityheading{
    display: flex;
    
   justify-content: center;
    }
    @media only screen and (max-width : 400px){
        .activityheading{
            display: block;
        }   
    }
    .activityheading1 {
     color: blueviolet;  
     
     
    }
    .activityheading2 {
        color: red;
        margin-left: 8px;
        
    }





.activity img {
    width: 50px;
    ;
}
.activityname01 {
    width: 100%;
    background-color: rgba(229, 240, 238, 0.438);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    

}
.activityname1 {
    background-color: white;
    width: 320px;
    height: 170px;
    text-align: center;
   
    margin: 50px 25px 20px 25px;
    
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.123);
    
}
.activityname1 img {
    margin-top: 30px;
    width: 70px;
}
.activityname1 h2 {
    text-transform: uppercase;
    color: blue;
}

.activityname2 {
    background-color: white;
    width: 320px;
    height: 170px;
    text-align: center;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.123);
    margin: 20px 25px 40px 25px;
    
}
.activityname2 img {
    margin-top: 30px;
    width: 70px;
}
.activityname2 h2 {
    text-transform: uppercase;
    color: blue;
}



/* css mission future  */
.missonfuture {
display: flex;
margin-bottom: 80px;
flex-wrap: wrap;
justify-content: center;
}
@media only screen only (max-width: 830px){
    .missonfuture{
       
    }
}
.misson {
margin-top: 50px;
width:60%;

}
@media only screen only (max-width: 830px){
    .misson{
        
    }
}
.misson h1 {
color: blueviolet;
}
.missonservice{
display: flex;

flex-wrap: wrap;

}
.missionservicename{

width: 320px;
display: flex;
margin: 10px;
background-color: rgba(229, 240, 238, 0.637);

}
.missionservicename img {
margin: 15px;
font-weight: 900;
}
.missionservicename h3 {
   padding-left: 10px;
   color: rgba(137, 43, 226, 0.835);
}

.future {
width: 250px;
text-align: justify;
margin: 50px 0px 0px 0px;
}
@media only screen and (max-width: 830px){
    .future{
        
    }
}
.future h1 {
    color: blueviolet;
}
.future p {
    color: rgba(137, 43, 226, 0.746);
}



/* CSS IMAGR GALLARY */
.image {
    
}
.imgheading{
display: flex;

justify-content: center;
}
.imgheading1 {
 color: blueviolet;  
 
 
}
.imgheading2 {
    color: red;
    margin-left: 15px;
    
}

.imageimg {
    text-align: center;
}
.imageimg img {
    width: 50px;
    margin-bottom: 20px;
    
}

.imagegellary {
text-align: center;
}
.imagegellary img {
    width: 220px;
}


/* css footer */
.footer {
background-color: rgb(61, 41, 41);
display: flex;
margin-top: 100px;
flex-wrap: wrap;
justify-content: space-evenly;

}
.footer1{
/* margin: 60px 20px 60px 100px; */
margin-top:60px ;
margin-bottom: 60px;
line-height: 25px;
color: white;
}
.footer2{
color: white;

margin-top:60px ;
margin-bottom: 60px;
font-weight: bold;
    letter-spacing: 5px;
}
.footer3{
    color: white;
   
    margin-top:60px ;
margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    
}
.footer3 img{
width: 20px;
margin-top: 5px;
}
.footerblue{
    background-color: blue;
    width: 100%;
    height: 50px;
}


    
    
